@import '../../sass/centeredBox'
    
.registerBox
    @include externalBox
    
    & .title
        font-size: 20px
        @include title-font-and-margin

    & .titleWithLine
        width: 85%
        margin: .7em auto
        overflow: hidden
        text-align: center
        &:before, &:after
            content: ""
            display: inline-block
            width: 50%
            border-bottom: 1px solid #e1e1e1
            vertical-align: middle
            margin: 0 .5em 0 -55%
        &:after
            margin: 0 -55% 0 .5em
    
    & .form
        margin: auto
        width: 70%
        min-width: 190px
        text-align: center
    
    & .footer
        display: flex
        flex-direction: row
        width: 201px
        margin: 10px auto 15px auto

        & .link
            font-size: 14px
            color: blue
            margin: auto 0 auto 10px
            &:hover
                cursor: pointer

    & .divider
        margin: 15px auto 15px auto
        @include divider-common