@mixin g-signin-common
    border-radius: 3px
    border: thin solid
    width: 190px
    height: 34px

@mixin g-btn-icon-common 
    float: left
    background-size: contain
    width: 18px
    height: 18px
    margin: 8px

@mixin g-btn-text-common
    padding-top: 7px
    padding-left: 10px
    display: inline-block
    font-weight: bold
    font-size: 14px
    font-family: 'Roboto', sans-serif
    color: #757575

    
.google-signin
    @include g-signin-common
    border-color: #888
    background: white
    box-shadow: 1px 1px 1px grey
    &:hover
        cursor: pointer
    &:focus
        box-shadow: 3px 3px 5px #99D9EA
    &:active
        background: #EEEEEE
    
    & .g-btn-icon
        @include g-btn-icon-common
        background: url("./assets/googleIconNormal.svg")
    
    & .g-btn-text
        @include g-btn-text-common

.google-signin-disabled
    @include g-signin-common
    border-color: #EBEBEB
    background: #EBEBEB

    &:hover
        cursor: not-allowed
    &:focus
        box-shadow: 0px 0px 0px
    
    & .g-btn-icon
        @include g-btn-icon-common
        background: url("./assets/googleIconDisabled.svg")
    
    & .g-btn-text
        @include g-btn-text-common

