$btn-base-color: white
    
.emailVerificationComponent
    border: solid 1px #e1e1e1
    box-shadow: 2px 2px grey
    border-radius: 13px
    max-width: 350px
    min-width: 230px
    background-color: white

    & .textGroup
        display: flex
        width: 220px
        margin: auto

        & .verifiedIcon
            width: 20px
            height: 20px
            background: url("./assets/bxs-check.svg")
            background-size: contain
            background-repeat: no-repeat

        & .verificationText
            margin: 0px 0px 0px 5px

    & .title
        font-family: 'Montserrat', sans-serif
        font-size: 20px
        margin-top: 20px
        margin-bottom: 20px
        display: block
        text-align: center

    & .btnHolder
        text-align: center
        margin: 20px 0px
        & .btn
            width: 140px
            text-align: center
            vertical-align: middle
            color: black
            background-color: $btn-base-color
            font-size: 1rem
            padding: .375rem .75rem
            border: 1px solid gray
            border-radius: .25rem
            &:hover
                background-color: darken( $btn-base-color, 3% )
                cursor: pointer

    & .divider
        margin: 15px auto 15px auto
        display: block
        width: 85%
        height: 1px
        background: #e1e1e1
