.loginBox
    border: solid 2px black
    box-shadow: 2px 2px grey
    max-width: 350px
    min-width: 230px
    
    & .title
        margin-top: 10px
        margin-bottom: 10px
        display: block
        text-align: center

    & .signinButton
        margin: auto
        width: 190px
    
    & .form
        margin: auto
        width: 190px
        border: solid 1px black
        text-align: center

    & .loginFooter
        display: flex
        width: 85%
        margin: 10px auto 10px auto
        font-size: 13px

        & .link
            font-size: 14px
            color: blue
            &:hover
                cursor: pointer
        
        & .forgetPassword
            width: 45%
        
        & .createAccount
            text-align: right
            width: 65%
    
    & .divider
        margin: 10px auto 10px auto
        display: block
        width: 85%
        height: 2px
        background: black